.callAccept {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        pointer-events: none;
    }
    .icons {
        display: flex;
        gap: 80px;
        .icon-button {
            background: none;
            border: 2px solid var(--bg-yellow);
            border-radius: 50%;  
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
    
          &:hover {
            background-color: var(--bg-yellow);
            transform: scale(1.1);  

            img {
                filter: brightness(0) invert(1);  
            }
        }

        &:active {
            transform: scale(0.95);  
        }
        }
      }
  }