*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    visibility: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.flex{display: flex;}

ul{
	padding: 0px;
}

:root{
   --bg-background: #0B0B0B;
   --bg-yellow: #FECB00;
   --theme-color: #FECB00;  /* 기본 테마 색상 추가 */
}
/* 사용 예시 */
/* background-color: var(--bg-background); */

html,body,#root{
    height: 100vh;
    color: var(--theme-color);
    background-color: var(--bg-background);
}

 