.layout{
    width: 530px;
    height: 100%;
    background-color: var(--bg-background);
    .layoutContent{
        font-size: 36px;
        height: calc(100% - 123px);
        // padding-bottom: 36px;
    }
}