.login{
    width: 530px;
    height: 100vh;
    background-color: var(--bg-background);
    display: flex;
    justify-content: center;
    align-items: center;
    .loginContainer{
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        .loginButton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img{
                cursor: pointer;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .loginSubmitBtn{
            width: 327px;
            height: 80px;
            background-color: var(--bg-background);
            border: 2.5px solid var(--bg-yellow);
            border-radius: 10px;
            cursor: pointer;
            color: var(--bg-yellow);
            font-size: 36px;
        }
    }
}