.login{
    width: 530px;
    height: 100vh;
    background-color: var(--bg-background);
    display: flex;
    justify-content: center;
    align-items: center;
    .loginContainer{
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        .loginButton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img{
                cursor: pointer;
            }
        }
    }
}